<div class="thumbnail">
  <img src="https://image.tmdb.org/t/p/w300/{{product.poster_path}}" *ngIf="product.poster_path">
  <img src="assets/img/abstract-image.jpg" *ngIf="!product.poster_path">
  <div class="caption">
    <h4 class="text-ellipsis">
      <a routerLink="/product/{{product.id}}" title="{{product.title}}">{{product.title}}</a>
    </h4>
    <p><strong>Release Date: </strong>{{product.release_date}}</p>
    <p>
      <a routerLink="/product/{{product.id}}">View details &raquo;</a>
      <small class="label label-success pull-right" *ngIf="product.vote_average">
        {{product.vote_average}}
        <i class="glyphicon glyphicon-star"></i>
      </small>
    </p>
  </div>
</div>
